---
title: Find Your Joy
hero: Find your Joy
subtitle: "The One-Stop Shop: Your Source for Everything You Need!"
---

<div class="content" id="beds">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_beds" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				 {% for beds in site.beds %}
					<li>
						{% include product-styles.html beds=beds %}
						<div class="beds-details">
							<h4><a href="{{ beds.url }}">{{ beds.name }}</a></h4>
							<div class="beds-description">
								{{ beds.description_markdown | truncate: 45 | markdownify }}
							</div>
							<p>${{ beds.price }}</p> <p>{{ beds.PRODUCT_TYPE_markdown }}</p>
							
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
