---
layout: product
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.NAME }}</h3>
					{{ page.DESCRIPTION | markdownify }}

					<!-- Additional fields -->
					<ul>
						<li><strong>ID:</strong> {{ page.ID }}</li>
						<li><strong>Link:</strong> <a href="{{ page.LINK }}">{{ page.LINK }}</a></li>
						<li><strong>Image Link:</strong> <img src="{{ page.IMAGE_LINK }}" alt="{{ page.NAME }}" /></li>
						<li><strong>Availability:</strong> {{ page.AVAILABILITY }}</li>
						<li><strong>Price:</strong> ${{ page.PRICE }}</li>
						<li><strong>Google Product Category:</strong> {{ page.GOOGLE_PRODUCT_CATEGORY_NAME }}</li>
						<li><strong>Product Type:</strong> {{ page.PRODUCT_TYPE }}</li>
						<li><strong>Brand:</strong> {{ page.BRAND }}</li>
						<li><strong>Last Updated:</strong> {{ page.LAST_UPDATED }}</li>
						<li><strong>GTIN:</strong> {{ page.GTIN }}</li>
						<li><strong>MPN:</strong> {{ page.MPN }}</li>
						<li><strong>Identifier Exists:</strong> {{ page.IDENTIFIER_EXISTS }}</li>
						<li><strong>Condition:</strong> {{ page.CONDITION }}</li>
						<li><strong>Color:</strong> {{ page.COLOR }}</li>
						<li><strong>Size:</strong> {{ page.SIZE }}</li>
						<li><strong>Item Group ID:</strong> {{ page.ITEM_GROUP_ID }}</li>
						<li><strong>Custom Label 0:</strong> {{ page.CUSTOM_LABEL_0 }}</li>
						<li><strong>Promotion ID:</strong> {{ page.PROMOTION_ID }}</li>
					</ul>

					<div class="button">{% include snipcart-button.html product=page %}</div>
				</div>
			</div>
		</div>
	</section>
</div>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
